<table cellpacing = "0" border = "1" cellpadding = "3">
	<tr>
		<th>SR</th>
		<th>Questions</th>
		<th>Answers</th>
	</tr>

<tr>
<td>1</td>
<td>Type of PDU?</td>
<td>{{pdu}}</td>
<tr>
<td>2</td>
<td>Do you need single or dual PDU for the rack?</td>
<td>{{single_dual_pdu}}</td>
</tr>
<tr>
<td>3</td>
<td>Voltage, Current and Power requirements of the PDU in accordance with the server attributes?</td>
<td>{{voltage_current}}</td>
</tr>
<tr>
<td>4</td>
<td>Output power socket type of the PDU either C13 or C19 in accordance with the server power ports?</td>
<td>{{output_power_socket}}</td>
</tr>
<tr>
<td>5</td>
<td>Input power plug of the PDU either IEC309 or C20 as available at the client site?</td>
<td>{{input_power_plug}}</td>
</tr>
<tr>
<td>6</td>
<td>C13 port count and C19 port counts in the PDU in accordance with the connecting appliance power ports?</td>
<td>{{c13_c19}}</td>
</tr>
<tr>
<td>7</td>
<td>Input power cord length of the PDU or distance of the PDU from the power socket?</td>
<td>{{input_power_cord}}</td>
</tr>
</table>