<table cellpacing = "0" border = "1" cellpadding = "3">
	<tr>
		<th>SR</th>
		<th>Questions</th>
		<th>Answers</th>
	</tr>

<tr>
<td>1</td>
<td>Rack Types:</td>
<td>{{rack_types}}</td>
<tr>
<td>2</td>
<td>Number of racks required?</td>
<td>{{racks_required}}</td>
</tr>
<tr>
<td>3</td>
<td>Maximum Physical Dimensions</td>
<td>{{physical_dimensions}}</td>
</tr>
<tr>
<td>4</td>
<td>Roller Track Required?</td>
<td>{{roller_track}}</td>
</tr>
<tr>
<td>5</td>
<td>Casters Required?</td>
<td>{{casters_required}}</td>
</tr>
<tr>
<td>6</td>
<td>Levelers?</td>
<td>{{levelers}}</td>
</tr>
<tr>
<td>7</td>
<td>Powder Coated?</td>
<td>{{powder_coated}}</td>
</tr>
<tr>
<td>8</td>
<td>Cable manager?</td>
<td>{{cable_manager}}</td>
</tr><tr>
<td>9</td>
<td>Sliding tray?</td>
<td>{{sliding_tray}}</td>
</tr>
<tr>
<td>10</td>
<td># of fans required?</td>
<td>{{fans}}</td>
</tr>
<tr>
<td>11</td>
<td>Blanking plate required?</td>
<td>{{blanking_plate}}</td>
</tr>
<tr>
<td>12</td>
<td>Door requirement</td>
<td>{{door}}</td>
</tr>
<tr>
<td>13</td>
<td>Do you require PDU?</td>
<td>{{require_pdu}}</td>
</tr>

</table>