<table cellpacing = "0" border = "1" cellpadding = "3">
	<tr>
		<th>SR</th>
		<th>Questions</th>
		<th>Answers</th>
	</tr>

<tr>
<td>1</td>
<td>Please select the Server OS Vendor</td>
<td>{{os_vendor}}</td>
<tr>
<td>2</td>
<td>Is Virtualization required?</td>
<td>{{virtualization}}</td>
</tr>
<tr>
<td>3</td>
<td>Please select the Server type</td>
<td>{{server_type}}</td>
</tr>
<tr>
<td>4</td>
<td>Which Application is required?</td>
<td>{{application}}</td>
</tr>
<tr>
<td>5</td>
<td>Type of Network Connectivity</td>
<td>{{network_connectivity}}</td>
</tr>
<tr>
<td>6</td>
<td>Disk Types</td>
<td>{{disk_types}}</td>
</tr>
<tr>
<td>7</td>
<td>Storage Type</td>
<td>{{storage_type}}</td>
</tr>
<tr>
<td>8</td>
<td>Total Usable size (TB/GB)</td>
<td>{{usable_size}}</td>
</tr><tr>
<td>9</td>
<td>Cache Required for RAID</td>
<td>{{cache}}</td>
</tr>
<tr>
<td>10</td>
<td>Warranty</td>
<td>{{warranty}}</td>
</tr>
<tr>
<td>11</td>
<td>Nos of servers</td>
<td>{{no_of_server}}</td>
</tr>
<tr>
<td>12</td>
<td>Budget</td>
<td>{{budget}}</td>
</tr>

</table>